@import '../../../../styles/variables.scss';

* {
  padding: 0;
  margin: 0;
}




.details {
  padding: 20px;
  margin: 25px;
}

.card01 {
  padding: 0;
  margin: 0;
  border: none;
}

.describe {
}

.Phead{
 font-size: $fontSizeXLarge;
 font-weight: $fontWeightLarge700;
}

.InStock{
  background-color: rgba(142, 205, 144, 0.614);
  color:  #2C742F;
  border-radius: 4px;
}



.discPres{ 
  background-color: rgba(255, 0, 0, 0.1);
  color: rgba(0, 0, 0, 1);
  color:  #EA4B48;
  border-radius: 10px;
  font-weight: $fontWeightLarge500;
}

.brands{
  align-items: center;
  width: auto;
  height: 56px;
}

.share{
  font-size: $fontWeightSmall400;
  text-align: center;
}

.socialLink{
  margin: 5px;
  padding: 20px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  border-radius: 50%;
}


.socialLink:hover{
  color: #FFF;
  background-color: $green;
  border-radius: 50%;

}

.disc{
 color: #808080;
 font-size: $fontSize;
 
}



.count{
  border: 1px solid #E6E6E6;
  border-radius: 40px;

}

.minus,.plus{
  font-size: 20px;
  background-color: #F2F2F2;
  padding: 15px;
  margin: 5px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter{
  display: flex;
  align-items: center;
  justify-content: center;

}

.plus{

}

.minus:hover,.plus:hover{
  background-color: $green;
  color: #fff;
  cursor: pointer;
}

.favourite{
  background-color: #c9e7caa3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favourite:hover{
  background-color: #ff1b17;
  color: #fff;
  font-size:20px;

}

.heartt{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;

}
.heartt:hover{
  transform: scale(1.3);

}



.discPres span{
  z-index: 324;
}

/* .nav {
  display: flex;
  justify-content: center;
  align-items: center;
} */
