<div class="hero d-flex justify-content-between row flex-row ">
    <div class="col-md-5 text ps-5 ms-5  my-5 playstore">
        <p style="line-height:3.5rem; font-size: 55px;font-weight: bold; color: #253D4E;">Shop Faster With Groceyish App</p>
        <p style="font-size: 20px;font-weight: medium;">Available on both IOS & Android</p>
        <div class="playtore">
            <img src="../../../assets/images/advertise/image 14.svg" alt=""class="googlplay">
            <img src="../../../assets/images/advertise/image 13.svg" alt=""  class="appstore">
        </div>
    </div>
    <div class="col-md-6 images pe-5 me-5 my-5">
        <img src="../../../assets/images/advertise/X2.png" alt="" class="img1" style="    margin-right: -51px;
        z-index: 7;">
        <img src="../../../assets/images/advertise/X1.png" alt="" class="img1">
    </div>
</div>
