<section class="signup my-4">
    <div class="row d-flex signupcontainer shadow col-xl-5 col-md-10 col-sm-12">
      <p class="header mb-2">Forget Password</p>
      <form class="signForm col-md-12">
        <app-input type="email" placeholder="Email"></app-input>
        <div class="mt-2"><app-button label="Verify"></app-button></div>
      </form>
      <p
        style="
          font-size: 14px;
          font-family: 'poppins';
          color: #666666;
          text-align: center;
          margin-top: 10px;
        "
      >
        Don't have account
        <span style="font-weight: 500; color: #1a1a1a;cursor: pointer;" routerLink="/auth/sign-in">Sign-In</span>
      </p>
    </div>
  </section>
  