$primary: #004BFD;
$secondary: #E2F3FF;
$dark: #092433;
$danger: rgba(239, 58, 76, 0.09);


$green: #00B207;
$mutedColor:#666666;
$semiBlack:#1A1A1A;
$iconButtonGray: #9797971F;
$darkGray: #4E5566;
$mediumGray: #6E7485;
$mediumLightGray: #ACACAC;
$lightGray: #C7C7C7;
$superLightGray: #d3d3d3;
$backgroundGray: #F2F2F2;
$backgroundWhiteNotTransparent: #f9f9fb;
$backgroundWhite: #f9f9fb38;

$darkBlue: #003456;
$brightBlue: #3290FF;
$brightBlueDesaturated: #3290FF99;
$lightBlueBackground: #3190FE29;
$itemBlueBackground: #004bfd0a;

$pillBlue: #6BD0FD3D;
$successGreen: #23BD33;
$darkGreen: #146C70;
$lighyWhite: #F1F7FF;
$placeHolderColor: #787486;

$progressRed: #FF6654;
$progressRedBg: #F0716226;
$progressYellow: #F2B90D;
$progressYellowBg: #FFEFD191;
$progressGreen: #3FCC33;
$progressGreenBg: #EDFAEB;

$profileTitleBlue: #384d6c;
$separatorBlue: #b5b5e1;

$brightRed: #F70505;
$draftOrange: #EF7816;

//fonts

$fontSize:14px;
$fontSizeLarge:32px;
$fontSizeXLarge:36px;

$fontWeightSmall400:400;
$fontWeightLarge500:500;
$fontWeightLarge600:600;
$fontWeightLarge700:700;
$fontWeightLarge800:800;
$fontWeightLarge900:900;

$fontFamily: 'Quicksand';

//colors
$GreenColor:#00B207;