/* app-nav-bar,
app-header-nav {
  position: fixed;
  width: 100%;
  z-index: 1; 
}

app-nav-bar {
  top: 0;
}

app-header-nav {
  top: 60px;
} */


.apple{
  height: 100vh;
}
.load{
  width: fit-content;
  height: fit-content;
}

.colorized-image {
 // filter: hue-rotate(90deg) saturate(200%);
}