<div class="container row">
    <div class="cardOffer"  >
        <div class="text ms-5 ">
            <p class="p1">Free delivery</p>
            <h3>Free delivery over $50</h3>
            <p class="paragraph">Shop $50 product and get free delivery anywhre.</p>
            <button class="btning"> Shop Now <i class="bi bi-arrow"></i></button>
        </div>
        <div class="images">
            <img src="../../../assets/images/offerCards/deliveryMan.svg" alt="saa">
        </div>
    </div>
    <div class="cardOffer01" >
        <div class="text ms-5 ">
            <p class="p1">60% Off</p>
            <h3>Food Organic</h3>
            <p class="paragraph">Save up to 60% off on your first order</p>
            <button class="btning"> Shop Now <i class="bi bi-arrow"></i></button>
        </div>
        <div class="images">
            <img src="../../../assets/images/offerCards/fruits.svg" alt="saa">
        </div>
    </div>
</div>