
 
  .card{
    max-width: 100%;
    min-height: 228px;
    border: none;
  }

  ::ng-deep .p-carousel .p-carousel-content .p-carousel-items {
    display: grid  ;
    justify-content: center  !important; 
  }
  