<div class="hero row m-0 p-0 d-flex justify-content-between">
    <div class="col-md-6 d-flex flex-column ">
        <div class="ms-5 mt-5 pt-5 ps-5 contsain">
            <h1 class="font ">Don’t miss our daily amazing deals.</h1>
            <p class=" txt my-4">Save up to 60% off on your first order</p>
            <div class="subscribe mt-5">
                <img src="./assets/images/heroSection/send.svg" class=" my-3 mx-2 imgg">
                <input type="email" placeholder="Enter your email address" class="email">
                <button class="btn">Subscribe</button>
            </div>
        </div>
    </div>
    <div class="col-md-6 imagess">
        <img src="./assets/images/heroSection/Hreo-img.svg" class="image" alt="">
    </div>
</div>