.props {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {}

.mini-cart {
    height: 72px;
    display: flex;
    line-height: 1rem;
}

.text .head {
    font-size: 18px;
    font-weight: 800;
}

.text .desc {
    font-size: 16px;
    font-weight: 300;
}

.workhours{
    font-size: 16;font-weight: 600;color: #253D4E;
}

.workhours>.time{
    font-size: 16;font-weight:200;
}
.name {
    font-size: 28px;
    font-weight: bold;
    color: #3BB77E;
    line-height: 1.4rem;
}

.name>span{
    font-size: 14px; font-weight: 300;
}

.items .header {
    font-size: 24px;
    font-weight: 500;
    color: #253D4E;
}


.items .header .subItems {
    font-size: 16;
    font-weight: 300;
    color: #253D4E;
}



.icon {
    margin: 10px;
    padding: 10px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3BB77E;
    color: #FFF;
    border-radius: 50%;
}